:root {
  --primary-blue: #0483e7;
  --secondary-blue: #2196f3;
  --font-main: "Inter", -apple-system, Roboto, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: var(--font-main);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}